################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/__pycache__
/NASA_SAC2024/obj/Debug
/NASA_SAC2024/__pycache__
.idea/other.xml
